<template name="avatar">
  <div class="avatar {{size}} {{shape}} {{class}}">
      {{#if imageUrl}}
          <img class="avatar-image" src="{{imageUrl}}" {{dimensions}} alt="" onerror="this.style.display='none';" />
      {{/if}}
      <span class="avatar-initials" style="{{initialsCss}}">{{initialsText}}</span>
  </div>
</template>


<template name="avatarP">
    <div class="avatar {{size}} {{shape}} {{class}}">
        {{#if imageUrl}}
            <img class="avatar-image" src="{{imageUrl}}" {{dimensions}} alt="" onerror="this.style.display='none';" />
        {{/if}}
        <span class="avatar-initials" style="{{initialsCss}}">{{initialsText}}</span>
    </div>
</template>
